@import "tailwindcss";

.clip-diagonal {
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121212;
  color: white;
}
